[submodule "lib/N64ModernRuntime"]
	path = lib/N64ModernRuntime
	url = https://github.com/N64Recomp/N64ModernRuntime
[submodule "lib/RmlUi"]
	path = lib/RmlUi
	url = https://github.com/mikke89/RmlUi
[submodule "lib/freetype-windows-binaries"]
	path = lib/freetype-windows-binaries
	url = https://github.com/ubawurinna/freetype-windows-binaries
[submodule "lib/lunasvg"]
	path = lib/lunasvg
	url = https://github.com/sammycage/lunasvg
