[Desktop Entry]
Name=MarioKart64Recompiled
Type=Application
Terminal=false
Icon=MarioKart64Recompiled
Exec=MarioKart64Recompiled
GenericName=MarioKart64Recompiled
Categories=Game;

